[Desktop Entry]
Version=0.17.6
Name=LUXCORE
Comment=Connect to the lux P2P Network
Exec=lux-qt %u
Terminal=false
Type=Application
Icon=qtum128
MimeType=x-scheme-handler/lux;
Categories=Network;
StartupWMClass=lux-qt
Name[en_US]=lux-qt
