[Desktop Entry]
Version=0.17.6
Name=LUXCORE Testnet
Comment=Connect to the lux P2P Network Testnet
Exec=lux-qt -testnet %u
Terminal=false
Type=Application
Icon=qtumtestnet128
MimeType=x-scheme-handler/lux;
Categories=Network;
StartupWMClass=lux-qt-testnet
Name[en_US]=lux-qt-testnet
