/*--------------------------------------------
Table View light CSS
--------------------------------------------*/
QHeaderView{
    color: #d5dde9;
    background-color: #ffffff;
    border: none;
}
QHeaderView:section{
    background-color: #ffffff;
    border: none;
    background-color: transparent;
}
QHeaderView::down-arrow {
    width: 6px;
    height: 4px;
    margin-right: 5px;
    margin-bottom: 1px;
}
QHeaderView::up-arrow {
    width: 6px;
    height: 4px;
    margin-right: 5px;
    margin-bottom: 1px;
}
QTableView{
    background-color: #ffffff;
    border: 1px solid #d5dde9;
    border-radius: 6px;
}
QScrollBar:vertical {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
QScrollBar:horizontal {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
QAbstractScrollArea::corner {
    border-bottom-right-radius: 6px;
}
